body{
    background-color: black;
    color: white;
}
h1{
    font-size: 50px;
}

a{
    color: red;
}

li{
    font-size: 20px;
    list-style: none;
}

#Description{
    width: 800px;

font-size: 30px;
}

h3{
    font-size: 40px;
}

.Steps{
    color: blue;
}